################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/test_06/test_06/obj
/test_06/test_06.sln
/test_06/test_06/bin/Debug/netcoreapp2.0
/test_06/.vs/test_06/v15
